.white{
	/* float:left; */
	vertical-align: top;
	display:inline-block;
	margin-left:20px;
	margin-top:20px;
	margin-bottom:20px;
	background:white !important; 
	padding:0px;
	/*border:0px white solid !important;*/
	border:black 2px solid !important;
	width:30.5%;
	height:20%;
}

div.suolve{
	position:relative;
	width:100%;
	height:100%;
	/*border:2px red solid;*/
	margin:0px;
	border:0px white solid;
	/* box-shadow:0px 3px 10px #888888;  */
	/* background:red; */
}
div.suolve div.suolve-top-box
{
	position:relative;
	background:rgba(0,100,0,0.4);;
	/*border:1px blue solid; */
	height:50%;
	width:100%;
	overflow:hidden; 
}
div.suolve-top-box div.top-shawdow
{
	position:absolute;
	background:#808080;
	opacity:0.5;
	height:100%;
	width:100%;
	z-index:10; 
	display:none;
}
div.suolve-top-box img.picture{
	position:relative;
	cursor: pointer;
	width:100%;
	height:100%;
	top:0%;
	left:0%;
}
div.suolve-top-box div.date{
	position:absolute;
	top:0px;
	left:85%;
	z-index:100;
	width:50px;
	height:50px;
	border:1px darkorange solid;
	background:darkorange; 
	border-radius:50px;
	text-align:center; 
	line-height:10px; /*不能设置负值，即使是重叠也是正值，忘了的时候可以试试0px*/
	padding-top:15px;
}
div.suolve-top-box div.date span{
	display:inline-block;
}
div.suolve-top-box div.date span.day{
	font-size:1.5em;
	color:white;
}
div.suolve-top-box div.date span.month{
	font-size:0.75em;
	color:white;
}
div.suolve-top-box div.see-picture{
	cursor: pointer;
	position:absolute;
	z-index:100;
	background:darkorange;
	height:23px;
	width:55px;
	text-align:center;
	bottom:0px;
}
div.suolve-top-box div.see-picture span{
	font-size:0.8em;
	color:white;
}

/***********************/
div.overbox{
	height:100%;
}




/***************************************************下面的内容是suolve-bottom-box**************************************************/





div.suolve div.suolve-bottom-box
{
	position:relative;
	z-index:10;
	/* background:pink; */
	border:0px white solid;
	/*opacity:0.4;*/
	min-height:50%;
	width:100%;
	overflow:hidden; /*当其他所有属性完成后解锁该属性*/
}

h1.title{
	padding-left:0%;
	font-size:150%;
	font-weight:900; /*最大是900*/
	margin:4% 0px 1% 4%;
}
h2.diy-label{	
	padding-left:1.5%;
	background:white;
	font-size:1.5em;
	margin-top:0px;
}
ul.liy-label-list{
	/*border:1px blue solid;*/
	padding:0px;
}
ul.liy-label-list li.label{
	color:darkorange;
}
div.title-footer{
	position:absolute;
	bottom:0%;
	left:2%;
	color:gray;
	/*border:1px yellow solid;*/
}
div.title-footer ul{
	list-style:none;
	padding:0px;
}
div.title-footer ul > li{
	display:inline-block;
}
li.type{
	/*border:1px red solid;*/
	padding-left:5px !important;
	margin:0px;
}
li.type li{
	padding:0px !important;
	margin:2px;
}
li.phone-number{
	position:relative;
	left:160%;
	bottom:0%;
	cursor: pointer;
	font-size:70%;
}
div.resume-box{
	display:none; 
	position:relative;
	top:150px; 
	/* border:2px purple solid; */
	padding:10px;
	padding-left:20px;
	line-height:1.8em; 
}
div.resume-box div.resume-content span{ /*这是缩略图中的简要个人描述字体样式*/
	color:gray;
	font-size:100%;
	display:none;
}

/************************其他部分***********************/
.type-content{
	font-size:70%;
}


.cc{
	background:white;
	height:90.5%;
}

/************************分页栏样式**************************************/
div.pagination{
	position: absolute;
	left:50%;
	bottom:0%;
	transform:translateX(-50%);
	border:orangered 2px solid;
}
div.pagination > ul{
	list-style:none;
}
div.pagination > ul > li {
	display: inline-block;
	margin:5px;
}